.calendar-section {
    float:left;
    width:300px;
    margin-left: 10%;
    overflow: hidden;


  }

  .calendar {
      
    position: relative;
    width: 300px;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 10px;
    margin-bottom: 30px;
    overflow: hidden;
    border: 2px solid #ddd;  
    

  }
  
  .calendar__header {
    position: relative;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    padding: 10px;
    color: #ddd;
        box-sizing: border-box;
        overflow: hidden;

  }

  .calendar__header h2 {
    margin: 0;
  }
  .calendar__header h3 {
    margin: 0;
    font-weight: 300;
  }
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
  }
  .calendar__day:nth-child(7) {
    color: #262626;
  }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
    border-radius: 80px;
  }
  .calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }
  .calendar__number--current, .calendar__number:hover {
    background-color: #43c9a7;
    color: #151615 !important;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    height: 25px;
    cursor: pointer;
    border-radius: 80px;


  }

  .calendar select {
    background-color: #f3f4f6;
    margin-top: 10px;
  }

  .calendar__opts, .calendar__buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

.calendar__buttons {
    column-gap: 50%;

}

  .calendar__buttons {
    padding: 10px var(--side-padding) 20px;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    margin-left:50%;
}
  
  .calendar__button {
    cursor: pointer;
  }
  .calendar__button--grey {
    background-color: #f3f4f6;
  }
  .calendar__button--primary {
    background-color: #ff685d;
    color: #fff;
    transition: box-shadow 0.3s cubic-bezier(0.21, 0.68, 0.09, 0.27), transform 0.2s linear;
  }
  .calendar__button--primary:hover {
    box-shadow: 0 20px 30px -13px #fc4f42;
    transform: translateY(-3px);
  }
  .calendar__button--primary:active {
    box-shadow: 0 10px 10px -6px #fc4f42;
    transform: translateY(-1px);
  }
  
  select,
  .calendar__button {
  font-family: inherit;
  font-weight: 700;
  font-size: 1.02rem;
  border-radius: 10px;

  height: 100%;
  outline: none;
  border: 0;
  padding: 15px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}



select {
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Capa_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='960px' height='560px' viewBox='0 0 960 560' enable-background='new 0 0 960 560' xml:space='preserve'%3E%3Cg id='Rounded_Rectangle_33_copy_4_1_'%3E%3Cpath d='M480,344.181L268.869,131.889c-15.756-15.859-41.3-15.859-57.054,0c-15.754,15.857-15.754,41.57,0,57.431l237.632,238.937 c8.395,8.451,19.562,12.254,30.553,11.698c10.993,0.556,22.159-3.247,30.555-11.698l237.631-238.937 c15.756-15.86,15.756-41.571,0-57.431s-41.299-15.859-57.051,0L480,344.181z'/%3E%3C/g%3E%3C/svg%3E");
    background-size: 30px;
    background-repeat: no-repeat;
    background-position: right;

  }

