  .time-column {
    width: 50%;
    height: 230px;
    background-color: #fff;
    padding:10px;
    float:left;

  }
  
  .timeslots-section {
     /* border: 3px solid #73AD21;   */
     overflow: hidden;
  }


  .timeslot-default {
    width: 110px;
    border: 2px solid #ddd;
    color: #262626;
    background-color: #ddd;
    padding:9px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 2px;
    vertical-align: center;
    text-align:center;
    cursor: not-allowed;
  }

  .timeslot-active {
    width: 110px;
    color: #262626;
    background-color: #fff;
    padding:9px;
    border: 2px solid #262626;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 14px;
    border-radius: 2px;
    vertical-align: center;
    text-align:center;
  }
  
   .timeslot-active:hover { 
    background-color: #d1e6e0;
    border: 2px solid #00c09d;
    cursor: pointer;
  } 

  .timeslot-active:focus{
      background-color: #d1e6e0 !important;
      border: 2px solid #00c09d;

    }
